<div class="root">
  <div class="full_bg pst-f">
    <div class="polygon_img"><img src="/assets/img/Polygon_bg.png" alt="polygon_bg"></div>
  </div>
  <div>
    <div id="wrapper" class="pst-a h100p w100p">
      <div>
        <div id="side" class="pst-f h100p fl">
          <div class="side_inner tal h100p">
            <div class="site_logo"><img src="/assets/img/site_logo.png" alt="Site_logo"></div>
            <div class="border"></div>
            <div>
              <div class="side_title ml50 mt30"><label for="">TEAM</label><a (click)="createTeam()"><span>+</span></a></div>
              <div id="teams">
                <ul class="t_list">
                  <li *ngFor="let item of teams" [routerLink]="'/product/'+item.teamId">{{item.teamName}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main" class="fr h100p w100p">
        <div class="main_inner tal h100p">
          <div class="plz_select">Please select team.</div>
        </div>
      </div>
    </div>
  </div>
</div>
