<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TOP</title>
        <link rel="stylesheet" href="assets/css/base.css" th:href="@{'/css/base.css'}">
        <link rel="stylesheet" href="assets/css/style.css" th:href="@{'/css/style.css'}">
        <link rel="stylesheet" href="assets/css/modal.css" th:href="@{'/css/modal.css'}">
        
        <!--import font-->
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One'
              th:href="@{'https://fonts.googleapis.com/css?family=Fjalla+One'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Abel'
              th:href="@{'https://fonts.googleapis.com/css?family=Abel'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
              th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed'
              th:href="@{'https://fonts.googleapis.com/css?family=Ubuntu+Condensed'}" rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" 
        	  th:href="@{'https://fonts.googleapis.com/css?family=Pathway+Gothic+One'}" rel="stylesheet" type='text/css' />
    </head>
    <body>
        <div class="full_bg pst-f">
           <div class="polygon_img">
               <img src="assets/img/Polygon_bg.png" th:href="@{'img/Polygon_bg.png'}" alt="polygon_bg" />
           </div>
        </div>
            <div id="wrapper" class="pst-a h100p w100p">
               
               <!--main content-->
                <div id="main" class="fr h100p w100p">
                    <div class="main_inner tal h100p">
                        <!--<div class="plz_select">Please select Product.</div>-->
                        
                        <!--モーダルウィンドウここから-->
                        <section class="modal-window" id="modal-p01">
							<div class="modal-inner">
								<form action="" method="">
									<table>
										<tr>
											<th>
												<label for="name">Product name : </label>
											</th>
											<th>
												<input class="modal-input" type="text" id="Pname" />
											</th>
										</tr>
										<tr>
											<th></th>
											<th>
												<button type="submit">create</button>
											</th>
										</tr>
									</table>
								</form>
							</div>
							<a href="#!" class="modal-close">&times;</a>
						</section>
                       
                       <section class="modal-window" id="modal-p02">
							<div class="modal-inner">
								<form action="" method="">
									<table>
										<tr>
											<th>
												<label for="name">Member name : </label>
											</th>
											<th>
												<input class="modal-input" type="text" id="Mname" />
											</th>
										</tr>
										<tr>
											<th></th>
											<th>
												<button type="submit">add to</button>
											</th>
										</tr>
									</table>
								</form>
							</div>
							<a href="#!" class="modal-close">&times;</a>
						</section>
                        
                        <!--ここまで-->
                        
                        <!--
                        
                        チケット一覧、プロダクトトークン(タブメニュー)要素ここから
                        
                        -->
                        
                        
                        
                        
                        <!-- TAB CONTROLLERS -->
                        <div id="tab_menu">
                        <input type="radio" name="nav" id="one" class="tab_input" checked="checked"/>
                        <label for="one">PRODUCT TOKEN</label>

                        <input type="radio" name="nav" id="two" class="tab_input"/>
                        <label for="two">REPORT</label>

                        <article class="content one">
                            <h1>Token</h1>
                        </article>
                        <article class="content two">
                            

                            <div id="search">
                                <table>
                                    <tr>
                                        <th>
                                            <span>Search </span>
                                        </th>
                                        <th>
                                            <input type="search" class="search_box" />
                                        </th>
                                        <th>
                                            <a href="">
                                               <span class="search_btn dib">
                                                   <img src="assets/img/search.png" th:href="@{'img/search.png'}" alt="検索" />
                                               </span>
                                            </a> 
                                        </th>
                                    </tr>
                                </table>  
                            </div>

                            <div class="ticket_area m0a">

                                <!--チケットここから-->
                                <a href="">
                                    <div class="ticket">
                                        <div class="t_title">Hogehogehoge</div>
                                        <div class="t_data">
                                            <table>
                                                <tr>
                                                    <th>yuusendo</th>
                                                    <th>tantou</th>
                                                    <th>2016/07/12</th>
                                                    <th>joutai</th>
                                                    <th>version</th>
                                                    <th>
                                                        <div class="comment">
                                                            <img class="fl" src="assets/img/comment2.png" th:href="@{'img/comment2.png'}" alt="コメント数"  />
                                                            <span>6</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="t_border"></div>
                                        </div>
                                </a>
                                <!--ここまで-->
                                
                                
                            </div>
                        </article>
                        </div>
                        
                        
                        
                        
                        
                        <!--

                        チケット一覧、プロダクトトークン(タブメニュー)

                        -->
                        
                        
                        
                        
                        
                        
                    </div>
                </div>
                
                
                
                
                
                <div id="side" class="pst-f h100p fl">
                    <div class="side_inner tal h100p">
                        <div class="site_logo"><!--サイドバー中身-->
                            <img src="assets/img/site_logo.png" th:href="@{'img/site_logo.png'}" alt="Site_logo" />
                        </div>
                        <!--ロゴ下ボーダー-->
                        <div class="border"></div>
                        
                        <!--サイドメニュー-->
                        
                        <!--プロダクト一覧-->
                        <div id="products">
                            <div class="side_title ml50 mt30">
                                <label for="Panel1">
                                    PRODUCT
                                    <img src="assets/img/arrow.png" alt="展開">
                                </label>
                                <a href="#modal-p01"><span>＋</span></a>
                            </div>
                            <input type="checkbox" id="Panel1" class="on-off" />
                            
                            <ol class="p_list">
                                <a href=""><li class="li-count">Workbench</li></a>
                                <a href=""><li class="li-count">dotCampus</li></a>
                                <a href=""><li class="li-count">Resident Evil</li></a>
                                <a href=""><li class="li-count">FINAL FANTASY XVI</li></a>
                                <a href=""><li class="li-count">FINAL FANTASY VII ADVENT CHILDREN</li></a>
                                <a href=""><li class="li-count">TOKYO TOKKYO KYOKAKYOKU KYOKUCHO</li></a>
                                <a href=""><li class="li-count">AMENBO AKAINA AIUEO</li></a>
                            </ol>
                        </div>
                        
                        <!--メンバー一覧-->
                        <div id="members">
                            <div class="side_title ml50 mt30">
                                <label for="Panel2" class="member_label">
                                    MEMBER
                                    <img src="assets/img/arrow.png" alt="展開">
                                </label>
                                <a href="#modal-p02"><span>＋</span></a>
                            </div>
                            <input type="checkbox" id="Panel2" class="on-off" />
                            <ol class="m_list">
                                <li>
                                    <a href="">TAKESHI KOKESHI</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">AJAJAJA</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">Nemumi</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">ASA DUMI ORANGE</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">JACK</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">JACK</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">JACK</a>
                                    <div class="mem_border"></div>
                                </li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                
    </body>
</html>
