<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TOP</title>
        <link rel="stylesheet" href="assets/css/base.css" th:href="@{'/css/base.css'}">
        <link rel="stylesheet" href="assets/css/style.css" th:href="@{'/css/style.css'}">
        
        <!--import font-->
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One'
              th:href="@{'https://fonts.googleapis.com/css?family=Fjalla+One'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Abel'
              th:href="@{'https://fonts.googleapis.com/css?family=Abel'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
              th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'}" rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed'
              th:href="@{'https://fonts.googleapis.com/css?family=Ubuntu+Condensed'}" rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" 
        	  th:href="@{'https://fonts.googleapis.com/css?family=Pathway+Gothic+One'}" rel="stylesheet" type='text/css' />
    </head>
    <body>
        <div class="full_bg pst-f">
           <div class="polygon_img">
               <img src="assets/img/Polygon_bg.png" th:href="@{'img/Polygon_bg.png'}" alt="polygon_bg" />
           </div>
        </div>
            <div id="wrapper" class="pst-a">
               
                <!--main content-->
                <div id="main" class="fr h100p w100p">
                    <div class="main_inner tal h100p">
                       
                       <!--
                       
                       プロダクト選択中のメインコンテンツ部分ここから
                       
                       -->
                       
                        <div class="plz_select">Please select Product.</div>
                        
                       <!--
                        
                       プロダクト選択中のメインコンテンツ部分ここまで
                        
                       -->
                    </div>
                </div>
                <div id="side" class="pst-f h100p fl">
                    <div class="side_inner tal h100p">
                        <div class="site_logo"><!--サイドバー中身-->
                            <img src="assets/img/site_logo.png" th:href="@{'img/site_logo.png'}" alt="Site_logo" />
                        </div>
                        <!--ロゴ下ボーダー-->
                        <div class="border"></div>
                        
                        <!--サイドメニュー-->
                        
                        <!--プロダクト一覧-->
                        <div id="products">
                            <div class="side_title ml50 mt30">
                                <label for="Panel1">
                                    PRODUCT
                                    <img src="assets/img/arrow.png" alt="展開">
                                </label>
                                <a href="">
                                    <span>＋</span>
                                </a>
                            </div>
                            <input type="checkbox" id="Panel1" class="on-off" />
                            <ol class="p_list">
                                <li class="li-count"><a href="">Workbench</a></li>
                                <li class="li-count"><a href="">dotCampus</a></li>
                                <li class="li-count"><a href="">Resident Evil</a></li>
                                <li class="li-count"><a href="">FINAL FANTASY XVI</a></li>
                                <li class="li-count"><a href="">FINAL FANTASY VII ADVENT CHILDREN</a></li>
                                <li class="li-count"><a href="">TOKYO TOKKYO KYOKAKYOKU KYOKUCHO</a></li>
                                <li class="li-count"><a href="">AMENBO AKAINA AIUEO</a></li>
                            </ol>
                        </div>
                        
                        <!--メンバー一覧-->
                        <div id="members">
                            <div class="side_title ml50 mt30">
                                <label for="Panel2" class="member_label">
                                    MEMBER
                                    <img src="assets/img/arrow.png" alt="展開">
                                </label>
                                <span>＋</span>
                            </div>
                            <input type="checkbox" id="Panel2" class="on-off" />
                            <ol class="m_list">
                                <li>
                                    <a href="">TAKESHI KOKESHI</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">AJAJAJA</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">Nemumi</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">ASA DUMI ORANGE</a>
                                    <div class="mem_border"></div>
                                </li>
                                <li>
                                    <a href="">JACK</a>
                                    <div class="mem_border"></div>
                                </li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                
    </body>
</html>
