@charset "UTF-8";
/*
参考：https://youtrack.jetbrains.com/issues
*/
/*@Mixin*/
/*All content*/
/* line 28, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
*::before,
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 31, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
a:link {
  color: #fff;
  text-decoration: none; }

/* line 32, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
a:visited {
  color: #fff;
  text-decoration: none; }

/* line 33, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
a:hover {
  color: #fff;
  text-decoration: none; }

/* line 34, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
a:active {
  color: #fff;
  text-decoration: none; }

/* line 36, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 42, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.full_bg {
  background-color: #26323f;
  height: 100%;
  width: 100%; }
  /* line 46, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .full_bg .polygon_img {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1; }

/* line 57, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  /* line 63, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #wrapper #side {
    float: left;
    width: 300px;
    height: 100%;
    min-height: 900px;
    border-right: 2px solid #333;
    background-color: rgba(69, 76, 83, 0.7); }
    /* line 72, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    #wrapper #side .side_inner {
      text-align: left;
      height: 100%; }
  /* line 79, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #wrapper #main {
    float: right;
    width: 100%;
    margin-left: -300px;
    height: 100%; }
    /* line 85, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    #wrapper #main .main_inner {
      text-align: left;
      margin-left: 300px;
      height: 100%; }

/*Please select*/
/* line 95, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.plz_select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  width: 350px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin: 0 auto;
  color: #fff; }

/*ここまで*/
/* line 112, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.site_logo {
  height: 200px;
  width: 200px;
  margin: 0 auto; }

/* line 117, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.border {
  height: 5px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto; }

/* line 124, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.side_title {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px; }
  /* line 129, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .side_title label {
    cursor: pointer; }
    /* line 132, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .side_title label img {
      height: 25px;
      width: 25px;
      transition: all 0.3s; }
  /* line 139, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .side_title span {
    display: block;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0 3px;
    margin-top: -5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s; }
  /* line 152, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .side_title span:hover {
    background: rgba(30, 39, 54, 0.85); }

/*サイドバー各要素のステージ*/
/* line 163, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#teams,
#products,
#members {
  width: auto;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto; }

/* line 170, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#products {
  height: auto; }

/* line 173, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#members {
  height: auto;
  padding-top: 15px; }

/* line 178, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.product_fragment {
  margin-left: 20px; }

/* line 181, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.member_fragment {
  margin-left: 50px; }

/*ステージここまで*/
/*チーム一覧*/
/* line 188, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.team_fragment {
  margin-left: 45px; }
  /* line 190, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .team_fragment .t_line {
    float: left; }
    /* line 193, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .team_fragment .t_line .t_border {
      height: 30px;
      width: 2px;
      margin-left: 9px;
      background-color: #252f3b; }
    /* line 199, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .team_fragment .t_line .t_circle {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 2px solid #252f3b; }
  /* line 206, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .team_fragment .team_name {
    margin-left: 35px;
    padding-top: 27px;
    height: 53px;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    font-family: 'Abel', sans-serif; }

/*チーム一覧ここまで*/
/* line 223, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.m_list,
.p_list,
.t_list {
  counter-reset: li;
  color: #fff;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 231, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .m_list li,
  .p_list li,
  .t_list li {
    word-wrap: break-word;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    list-style-type: none;
    list-style-image: none;
    margin: 5px 0px 5px 45px;
    position: relative;
    display: block;
    background: #323e4a;
    padding: 5px 0px 5px 50px;
    border-right: none;
    border-radius: 2px; }
  /* line 245, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .m_list li.li-count:after,
  .p_list li.li-count:after,
  .t_list li.li-count:after {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    left: 0px;
    top: 0px;
    background: #252f3b;
    height: 31px;
    width: 30px;
    line-height: 31px;
    border: 2px solid #252f3b;
    text-align: center;
    font-weight: bold;
    border-radius: 2px; }
  /* line 261, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .m_list li:hover,
  .p_list li:hover,
  .t_list li:hover {
    background: #263241; }

/* line 268, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.t_list li {
  padding-left: 10px;
  border-bottom: 2px solid #333;
  border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px; }

/* line 275, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.m_list li {
  border: none;
  background: none;
  margin-left: 0; }
  /* line 279, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .m_list li a {
    display: block;
    width: 220px; }

/* line 285, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.m_list li:hover {
  background: rgba(30, 47, 57, 0.4); }

/* line 288, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
input[type="checkbox"].on-off {
  display: none; }

/* line 292, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
input[type="checkbox"].on-off + ol {
  height: 0;
  overflow: hidden; }

/* line 297, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
input[type="checkbox"].on-off:checked + ol {
  height: 270px;
  overflow: auto; }

/* line 302, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.mem_name {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  font-family: 'Abel', sans-serif; }

/* line 308, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.mem_border {
  height: 4px;
  width: 220px;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 8px; }

/*チケット*/
/* line 318, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.ticket_area {
  width: 100%;
  min-width: 1140px;
  height: auto;
  margin: 0 auto;
  padding-top: 30px; }
  /* line 326, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .ticket_area a .ticket:hover {
    border: 1px solid #358164; }
  /* line 329, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .ticket_area .ticket {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px; }
    /* line 334, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .ticket_area .ticket .t_title {
      font-family: 'Ubuntu Condensed', sans-serif;
      color: #fff;
      font-size: 25px; }
    /* line 339, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .ticket_area .ticket .t_border {
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-top: 5px; }
    /* line 346, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .ticket_area .ticket .t_data {
      width: 900px; }
      /* line 349, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
      .ticket_area .ticket .t_data table {
        margin-top: 10px;
        table-layout: fixed;
        width: 100%;
        color: #fff;
        font-family: 'Abel', sans-serif; }
    /* line 359, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .ticket_area .ticket .comment img {
      height: 20px;
      width: 20px; }
    /* line 363, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .ticket_area .ticket .comment span {
      color: #fff;
      display: inline-block;
      margin-left: 5px; }

/* line 372, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.bottom_arrow img {
  height: 25px;
  width: 25px; }

/* line 377, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#search {
  width: 1140px;
  margin: 20px 0 0 10px; }
  /* line 381, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #search input.search_box {
    border: 0;
    padding: 10px;
    margin-left: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #aaa;
    border: solid 1px #ccc;
    width: 800px;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5); }
  /* line 394, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #search input.search_box:focus {
    border: solid 1px #6cdb9b; }
  /* line 398, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #search span {
    color: #fff;
    font-size: 30px;
    font-family: 'Abel', sans-serif; }
  /* line 403, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #search .search_btn {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    /* line 412, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    #search .search_btn img {
      height: 20px;
      width: 20px;
      margin-left: 5px; }
  /* line 419, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #search .search_btn:hover {
    background: rgba(255, 255, 255, 0.1); }

/* line 424, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.tab_input, .content {
  display: none;
  background: rgba(33, 40, 54, 0.7);
  line-height: 25px;
  padding: 5px 25px;
  color: #fff;
  font: normal 1em/150% Sans-Serif;
  min-width: 200px; }

/* line 434, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#one:checked ~ .one,
#two:checked ~ .two {
  display: block; }

/* line 436, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#tab_menu label {
  cursor: pointer;
  background: rgba(34, 54, 74, 0.5);
  height: 40px;
  width: 150px;
  line-height: 30px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  margin-right: -3px;
  transition: background 0.1s linear; }

/* line 452, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
#tab_menu label:hover, #tab_menu input:checked + label {
  background: rgba(33, 40, 54, 0.7); }

/* line 457, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  /* Safari用 */
  transform: translateY(-50%);
  margin: 0 auto; }

/* line 467, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.side_inner .sk-cube-grid {
  top: 25%; }

/* line 471, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #59d09d;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

/* line 481, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

/* line 484, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

/* line 487, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

/* line 490, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

/* line 493, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

/* line 496, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

/* line 499, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

/* line 502, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

/* line 505, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@media screen and (max-height: 800px) {
  /* line 532, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .site_logo {
    height: 150px;
    width: 150px; }
    /* line 536, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .site_logo img {
      height: 150px;
      width: 150px; }
  /* line 541, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .side_title {
    font-size: 25px; }
    /* line 544, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .side_title label img {
      height: 20px;
      width: 20px; }
  /* line 553, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #products input[type="checkbox"].on-off:checked + ol,
  #members input[type="checkbox"].on-off:checked + ol {
    height: 200px; }
  /* line 561, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #products .p_list li,
  #products .m_list li,
  #products .t_list li,
  #members .p_list li,
  #members .m_list li,
  #members .t_list li {
    font-size: 16px; } }

@media screen and (max-height: 670px) {
  /* line 570, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .site_logo {
    height: 100px;
    width: 100px; }
    /* line 574, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .site_logo img {
      height: 100px;
      width: 100px; }
  /* line 579, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  .side_title {
    font-size: 18px; }
    /* line 582, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
    .side_title label img {
      height: 15px;
      width: 15px; }
  /* line 591, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #products input[type="checkbox"].on-off:checked + ol,
  #members input[type="checkbox"].on-off:checked + ol {
    height: 150px; }
  /* line 599, C:/PROGRAMs/KcgPRJ/BTS/UiServer/src/main/resources/static/css/style.scss */
  #products .p_list li,
  #products .m_list li,
  #products .t_list li,
  #members .p_list li,
  #members .m_list li,
  #members .t_list li {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */