@charset "utf-8" ;

/*@Mixin*/
$set-prefix: '' , -moz- , -webkit-;
@mixin setPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}
@mixin size($h,$w){
    height: $h;
    width: $w;
}
@mixin position($top,$right,$bottom,$left){
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}


/*All content*/
*::before,
*{
    @include setPrefix(box-sizing, border-box);
}
html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

/*link*/
a:link,
a:visited,
a:hover,
a:active {font-family: 'Oswald', sans-serif;}

/*background*/
div#bg-image{
    background:{
        image: url(../img/Polygon_bg.png);
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
        color: #464646;
    }
}


/*フォーム本体*/
#login_form{
    margin: -300px 0 0 0;
    @include position(50%,0,0,0);
    @include size(350px,100%);
    
    /*サイトロゴ*/
    .sitelogo{
        @include size(200px,200px);
        @include setPrefix(border-radius, 100px);
        @include position(0px, 0,0, 50%);
        background-image: url(../img/site_logo.png);
        margin-left: -100px;
    }
    
    .git_area{
        padding: 10px;
        margin-top: 230px;
        background-color: rgba(255,255,255,0.7);
        @include size(73px,100%);
        
        a,
        a:before,
        img{
            @include size(53px,305px);
            display: block;
            margin: 0 auto;
        }

        a:before{
            position: absolute;
            margin-top: 10px;
            content: ' ';
            @include position(0,0,0,0);
            @include setPrefix(transition,0.05s);
        }
        
        a:hover:before{
            background: rgba(255,255,255,0.3);
        }
    }
    
    #signup{
        color: #fff;
        margin-top: 15px;
        padding-top: 5px;
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.6);
    }
    
}